body {
  background-color: #454955;
}

.Home {
  min-height: 1000px;
  max-height: 2000px;
  min-width: 500px;
  max-width: 2000px;
  background-color: #454955;
}

#navbar {
  position: fixed;
  width: 90%;
  background-color: #454955;
}

.home-header {
  background-color: #a9fbd7;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 15px;
  min-height: 950px;
  max-height: 1950px;
}

#background {
  background-color: #454955;
}

#welcome {
  border: solid white;
  border-radius: 15px;
  background-color: white;
  height: 100px;
  width: 500px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  padding-top: 10px;
}